$theme-colors: (
    "primary": #a12f30,
    "secondary": #cecece,
    "success": rgb(19, 151, 48),
    "dark": #000000,
    "danger": #e00b00,
    "light": rgb(26, 87, 167),
    "info": rgb(44, 200, 221),
);
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, div#root {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Exo 2", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333333;
    color: #FFFFFF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}