.question-button-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.button-list {
    &__item {
        min-width: 12rem;
        font-size: 1.6rem;
        margin-top: 2rem;
    }
}
