.description {
    text-align: left;
    margin-bottom: 15%;
}

.messages-container {
    margin: 50px;
    padding: 20px;
    border-radius: 50px;
    background-color: #505050;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px;
    margin-left: 50px;
    width: 40%;
}

.results-container {
    margin: 50px;
    padding: 20px;
    border-radius: 50px;
    background-color: #202020;
    text-align: center;

    h1 {
        margin-bottom: 50px;
    }

    table {
        width: 80%;
        margin: auto;
        background-color: aliceblue;
        border-radius: 20px;
    }

}

.file-button {
    width: auto;
}

.file-descriptor {
    text-align: center;
}

.form-select {
    width: 50%;
}

.select {
    display: flex;
    flex-direction: row;
    align-items: center;
}
