.question {
    margin-bottom: 32px;
    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        &__group {
            font-size: 2.4rem;
            border-bottom: 1px solid rgb(35, 35, 35);
        }
    }

    &__description {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 1rem;
        width: 50vh;
        padding: 16px;
        border: 1px solid gray;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        margin-left: 1rem;

        &__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
    }

    .icon-help {
        background-color: white;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 1.5rem;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 1rem;
        font-size: 1.6rem;

        &:hover {
            background-color: #dedede;
        }
    }

    .error-container {
        margin-bottom: 16px;

        .error {
            color: #b31644;
            font-size: 1.6rem;
            font-weight: bold;
            margin-top: 0.8rem;
        }

        .hint {
            color: gray;
            font-size: 15px;
        }
    }
}
